<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="jdbcProps1">
        <prop key="jdbc.driver">org.sqlite.JDBC</prop>
        <prop key="jdbc.url">jdbc:sqlite:C:\Users\bianc\IdeaProjects\iss\teatru.db</prop>
    </util:properties>
    <util:properties id="jdbcProps" location="classpath:bd.config"/>
    <bean id="repoUser" class="org.example.ChildRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>
    <bean id="organizingRepo" class="org.example.OrganizingRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>
    <bean id="registrationRepository" class="org.example.RegistrationRepository">
        <constructor-arg ref="jdbcProps"/>
        <constructor-arg ref="repoUser"/>
        <constructor-arg ref="organizingRepo"/>
    </bean>
    <bean id="repoSample" class="org.example.SampleRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>
    <bean id="service" class="org.example.CompetitionServerProtoIml">
        <constructor-arg ref="registrationRepository"/>
        <constructor-arg ref="repoSample"/>
        <constructor-arg ref="repoUser"/>
        <constructor-arg ref="organizingRepo"/>
    </bean>
<!--    <bean id="controller" class="start.CompetitionUserController">-->
<!--        <constructor-arg ref="service"/>-->
<!--    </bean>-->
</beans>